[Desktop Entry]
Version=1.0
Type=Application
Name=Skippy-xd daemon
Comment=
Exec=skippy-xd --start-daemon
Icon=
Path=
Terminal=false
StartupNotify=false
