configuration
{
	modi: "run,drun,window";
	font: "Comic Sans MS Bold 14";
	show-icons: true;
	icon-theme: "candy-icons";
	drun-display-format: "{name}";
	display-drun: "Run ▶ ";
}
@theme "/home/gajeet/.config/rofi/themes/aj-dmenu.rasi"
