[Desktop Entry]
Version=1.0
Type=Application
Name=DSA
Comment=
Exec=firefox https://www.youtube.com/playlist?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ
Icon=emote-love
Path=
Terminal=false
StartupNotify=false
