[Desktop Entry]
Comment[en_US]=
Comment=
Comment[en_IN]=
Exec=/opt/Eclipse\ Java/eclipse
GenericName[en_US]=Text Editor
GenericName=Text Editor
GenericName[en_IN]=Text Editor
Icon=eclipse-Java
MimeType=
Name[en_US]=Eclipse Java
Name=Eclipse Java
Name[en_IN]=Eclipse Java
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
