[Desktop Entry]
Version=1.0
Type=Application
Name=Oll
Comment=
Exec=qpdfview /mnt/Ajeet/PDF\\ BOOKS/Cube\\ Solving/oll-algorithms.pdf
Icon=
Path=
Terminal=false
StartupNotify=false
