[Desktop Entry]
Version=1.0
Type=Application
Name=Videos
Comment=
Exec=exo-open --launch FileManager /mnt/Ajeet/VIDEOS/
Icon=/home/gajeet/.icons/candy-icons/apps/scalable/org.avidemux.Avidemux.svg
Path=
Terminal=false
StartupNotify=false
