[Desktop Entry]
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=/opt/VSCode-linux-x64/code
GenericName[en_US]=
GenericName=
Icon=visual-studio-code
MimeType=
Name[en_US]=VSCode
Name=VSCode
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
