[Desktop Entry]
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=dolphin /mnt/Ajeet/PHOTOS/Wallpapers
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=Wallpapers
Name=Wallpapers
Icon=folder
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
