[Desktop Entry]
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=google-chrome-stable https://web.whatsapp.com
GenericName[en_US]=
GenericName=
Icon=whatsapp
MimeType=
Name[en_US]=WhatsApp
Name=WhatsApp
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
